@import 'styles/common.scss';

.container {
  display: flex;
  justify-content: flex-start;
  transition: transform 0.5s ease;

  &.vertical {
    .line {
      background-color: $red;
      height: 150px;
      width: 3px;
    }
  }

  &.center {
    @media all and (min-width: $mobile) {
      justify-content: center;
    }
  }

  &.left {
    justify-content: flex-start;
  }

  &.right {
    @media all and (min-width: $mobile) {
      justify-content: flex-end;
    }
  }
  .line {
    background-color: $red;
    height: 3px;
    width: 150px;
  }

  .svgLine {
    stroke: $red;
    height: 110pt;
    stroke-width: 8px;
  }
}
