@import 'styles/common.scss';

$columns: 12;

.container {
  padding: 0 8px;
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 8px;

  &.fluid {
    padding: 0;
  }

  .column {
    grid-area: auto / span $columns;

    &.centered {
      place-self: center;
    }
  }
}

@media all and (min-width: $mobile) {
  .container {
    .column {
      @for $cols from 1 to $columns {
        &._#{$cols} {
          grid-area: auto / span #{$cols};
        }
      }
    }
  }
}
