@import 'styles/common.scss';

.inputWrapper {
  display: flex;

  &::before {
    display: block;
    content: '~/portfolio';
    background-color: rgba(0, 0, 0, 0.1);
    color: $red;
    padding: 3px;
  }
}

.input {
  all: unset;
  margin-left: 5px;
}
