@import 'styles/common.scss';

.inputWrapper {
  display: flex;

  &::before {
    display: flex;
    align-self: center;
    justify-self: center;
    content: '~/portfolio';
    background-color: rgba(0, 0, 0, 0.1);
    color: $blue;
    font-weight: 600;
    padding: 3px;
  }

  &::after {
    display: flex;
    align-self: center;
    justify-self: center;
    content: '✓';
    background-color: rgba(0, 0, 0, 0.1);
    color: $green;
    padding: 3px;
  }
}

.input {
  all: unset;
  margin-left: 5px;
  width: 100%;
}
