@import 'styles/common.scss';

.container {
  grid-area: main;
}

.subcontainer {
  grid-area: submain;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  // margin-bottom: 5rem;
  font-size: 1rem;
}

.list {
  padding: 1rem 0;
}

.fadeAway {
  animation: fadeOut 1s ease forwards;
}
