@import 'styles/common.scss';

.container {
  grid-area: main;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1rem;
}

.fadeAway {
  animation: fadeOut 1s ease forwards;
}
