@import 'styles/common.scss';

.section {
  height: 100vh;
  .content {
    position: relative;
    grid-template-rows: 1fr;
  }
}

.logo {
  svg {
    width: 100pt;
    // v
    :nth-child(1) {
      animation: slideUp 1s ease;
    }
    // k
    :nth-child(2) {
      animation: slideLeft 1s ease;
    }
    // r
    :nth-child(3) {
      animation: slideRight 1s ease;
    }
    // f
    :nth-child(4) {
      animation: slideDown 1s ease;
    }
  }
}

.titleContainer {
  position: relative;
  align-self: center;
  top: -2rem;
}

.titleSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  .line {
    margin: 0 2rem;
    transform: rotate(90deg);
    position: absolute;
    top: 90px;
    margin: 0;

    path {
      stroke-dasharray: 320;
      stroke-dashoffset: 320;
      animation: draw 2s cubic-bezier(0.38, 0.1, 0, 1.01) forwards;
      animation-delay: 0.4s;
    }

    @media all and (min-width: $mobile) {
      margin: 0 2rem;
      transform: rotate(0);
      position: relative;
      top: 0;
    }
  }

  .titleText {
    padding-top: 4rem;
    text-align: center;

    .title {
      font-size: 3rem;
      letter-spacing: 1px;
      color: $lightwhite;
    }

    .meta {
      font-size: 2rem;
      color: $lightwhite;
      transition: color 0.5s ease;
    }
  }
}

.passion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  color: $grey;
  transition: color 0.5s ease;
}

.list {
  .itemText {
    color: $lightwhite;
    transition: color 0.5s ease;
  }

  .icon {
    color: $green;
  }

  .active {
    .icon {
      animation: slideLeft 0.6s ease;
    }
  }
}

@media all and (min-width: $mobile) {
  .titleSection {
    justify-content: center;
    flex-direction: row;

    .titleText {
      text-align: left;
      padding-top: 1.3rem;

      .title {
        font-size: 4rem;
      }
    }
  }

  .passion {
    gap: 2rem;
    flex-direction: row;
  }
}

[data-theme='light'] {
  .logo {
    fill: $dark;
  }

  .text {
    color: $dark;
  }

  .itemText {
    color: $lightdark;
  }

  .titleSection {
    .titleText {
      .title,
      .meta {
        color: $dark;
      }
    }
  }
}
