@import 'styles/common.scss';

.logo {
  svg {
    :nth-child(1) {
      animation: slideUp 1s ease;
    }
    :nth-child(2) {
      animation: slideLeft 1s ease;
    }
    :nth-child(3) {
      animation: slideRight 1s ease;
    }
    :nth-child(4) {
      animation: slideDown 1s ease;
    }
  }
}

.line {
  background-color: $red;
  height: 3px;
  width: 150px;
  margin: 3rem auto;
}

.content {
  flex-direction: column;
}
