@import 'styles/common.scss';

.logo {
  svg {
    width: 100pt;
    // v
    :nth-child(1) {
      animation: slideUp 1s ease;
    }
    // k
    :nth-child(2) {
      animation: slideLeft 1s ease;
    }
    // r
    :nth-child(3) {
      animation: slideRight 1s ease;
    }
    // f
    :nth-child(4) {
      animation: slideDown 1s ease;
    }
  }
}

.title {
  font-size: 4rem;
  letter-spacing: 1px;
}

.content {
  display: grid;
  place-self: center;
  flex-direction: column;
  position: relative;
  top: -50px;
}

.line {
  margin: 0 auto 1rem auto;
}

@media (prefers-color-scheme: light) {
  .logo {
    fill: $black;
  }

  .title {
    color: $black;
  }
}
