@import 'styles/common.scss';

.logo {
  svg {
    fill: $grey;
    width: 80pt;
    height: 80pt;
  }
}

.line {
  background-color: $red;
  height: 3px;
  width: 150px;
  margin: 3rem auto;
}

.content {
  flex-direction: column;
}
