@import 'styles/common.scss';

.app {
  display: grid;
  position: relative;
  box-sizing: border-box;
  place-self: center;
  grid-template-columns: 30px minmax(auto, 1920px) 30px;
  grid-template-rows: 5rem auto 8rem;
  grid-template-areas:
    'back header toggle'
    'main main main'
    'footer footer footer';
  min-height: 100vh;
  color: $white;
  transition: background-color 0.5s ease;
  padding: 0 2rem;
  overflow-x: hidden;
}

@media all and (min-width: $mobile) {
  .app {
    grid-template-rows: 5rem auto 5rem;
  }
}

[data-theme='light'] {
  .app {
    color: $dark;
  }
}
