@import './animation.scss';
@import './animation.scss';
@import './shared.classes.scss';

// Colors
$dark: rgb(45, 46, 45);
$grey: #c5c6c7;
$red: #df6a41;
$green: #4b9669;
$blue: #49c6c6;
$white: #fff;
$black: #000;
$lightwhite: #f8f8f8;

$success: #42ff4b;
$error: #ff4242;

//SIdebar-width
$sidebarWidth: 80px;

// breakpoints
$mobile: 768px;
$smallPhone: 500px;

// brand colors
$stackoverflow: #ef8236;
$xing: #126567;
$github: #7dbbe6;
