@import 'styles/common.scss';

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: $dark;
  transition: background-color 0.5s ease;
}

:global(#root) {
  display: grid;
}

hr {
  all: unset;
  height: 3px;
  background-color: $grey;
  width: 100%;
  max-width: 100px;
  display: block;
  margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
span,
code {
  transition: color 0.5s ease;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s ease;
}

span {
  color: $red;
}

p {
  @include font-p();
}

[data-theme='light'] {
  body {
    background-color: $lightwhite;
  }
}
