@import 'styles/common.scss';

body {
  font-family: 'Nunito', sans-serif;
  color: $white;
  background-color: $dark;
  margin: 0;
  overflow-x: hidden;
  transition: background-color 0.5s ease;
}

h1,
h2,
h3,
h4,
h5,
span,
code {
  transition: color 0.5s ease;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s ease;
}

span {
  color: $red;
}

p {
  @include font-p();
}

[data-theme='light'] {
  body {
    color: $dark;
    background-color: $lightwhite;
  }
}
