@import 'styles/common.scss';

body {
  font-family: 'Nunito', sans-serif;
  color: $white;
  background-color: $dark;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  color: $red;
}

@media (prefers-color-scheme: light) {
  body {
    color: $dark;
    background-color: $lightwhite;
  }
}
