// Shared classes

// Animations
.slideRight {
  animation: slideRight 1s ease;
}

.slideLeft {
  animation: slideLeft 1s ease;
}

.slideUp {
  animation: slideUp 1s ease;
}

.slideDown {
  animation: slideDown 1s ease;
}

// Utility
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textAlignCenter {
  text-align: center;
}

.callForAction {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

// Main grid area
.main {
  grid-area: main;
  place-self: center;
  padding: 0 1rem;
}

.fullpage {
  grid-area: header / main;
  place-self: center;
  padding: 0 1rem;
}
