// Shared classes
.fadeIn {
  animation: slideUp 1s ease;
}

.slideIn {
  animation: slideRight 1s ease;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textAlignCenter {
  text-align: center;
}

.callForAction {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

// Main grid area
.main {
  grid-area: main;
  place-self: center;
  padding: 0 1rem;
}
