@import 'styles/common.scss';

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;

  @media all and (min-width: $mobile) {
    position: fixed;
    left: 2rem;
    right: 2rem;
    height: 5rem;
  }
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .toggle {
    display: flex;
    align-items: center;
  }
}

.logo {
  svg {
    width: 40pt;
    height: 40pt;
    // v
    :nth-child(1) {
      animation: slideDown 1s ease forwards;
      opacity: 0;
      animation-delay: 0.3s;
    }
    // k
    :nth-child(2) {
      animation: slideDown 1s ease forwards;
      opacity: 0;
      animation-delay: 0.4s;
    }
    // r
    :nth-child(3) {
      animation: slideDown 1s ease forwards;
      opacity: 0;
      animation-delay: 0.2s;
    }
    // f
    :nth-child(4) {
      animation: slideDown 1s ease forwards;
      opacity: 0;
    }
  }
}
