@import 'styles/common.scss';

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-right: 2rem;
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-left: 2rem;

  svg {
    width: 80pt;
  }
}
