@import 'styles/common.scss';

.container {
  height: 2.5rem;
  overflow: hidden;
}

.itemBox {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.item {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  line-height: 2.5rem;
  letter-spacing: 1px;
  gap: 2rem;
}
