@import 'styles/common';

.section {
  display: grid;
  min-height: 90vh;
  grid-template-columns: 1fr minmax(auto, 1920px) 1fr;

  & > * {
    grid-column: 2;
  }

  &.fullWidth {
    width: 100%;
    grid-template-columns: 1fr 100% 1fr;
  }
}
