@import 'styles/common.scss';

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: flyIn 1s ease;
}

.container {
}

@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
