@import 'styles/common.scss';

.about {
  @include font-p();
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title {
  font-size: 5rem;
}

.line {
  margin: inherit;
}

.container {
}
