@import 'styles/common.scss';

.content {
  display: grid;
  place-self: center;
}

.back {
  font-size: 1.25rem;
  color: $grey;
  transition: color 0.5s ease;

  &:hover {
    color: $red;
  }
}

.line {
  background-color: $red;
  height: 3px;
  width: 150px;
  margin: 3rem auto;
}
